.card-head {
    background-color: #C7FBFD;
  }
  
  .card-head .btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    color: black;
    transition: font-weight 0.3s, font-size 0.3s;
  }
  
  .card-head .btn:hover {
    font-weight: bold;
  }
  
  .card-head .btn.select {
    font-weight: bold;
    font-size: 20px;
  }

.enter{
    background-color: #1C596C;
    color: white;
}
.enter:hover{
    background-color: #164654;
    color: white;
}

.admin-dashboard {
  position: relative;
  min-height: 100vh;
}

.unauthorized-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.453);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.unauthorized-message {
  font-size: 24px;
  font-weight: bold;
  color: #016f77;
  text-align: center;
}